.bad-password {
  position: absolute;
  color: rgba(230, 28, 28, 0.671);
  height: 30%;
  top: 78vh;
  z-index: 3;
}

body {
  font-family: "Arbutus", cursive;
}
.icon-big {
  font-size: 26pt;
  display: inline;
}
h1 {
  font-family: "Arbutus", cursive;
}
.start-menu {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.view {
  display: flex;
  flex-direction: column;
  min-height: 65vh;
  min-width: 100vw;
  justify-content: center;
  align-items: center;
}
.bg-game {
  background-image: url("https://image.shutterstock.com/image-vector/vector-illustration-empty-room-wooden-260nw-768501091.jpg") !important;
  background: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
}
.anvil {
  max-width: 50% !important;
  max-height: 50% !important;
}
.hidden {
  display: none !important;
}
.play-btn {
  width: 50%;
}
.push-up {
  z-index: 1;
  position: relative;
  top: -2.3rem;
  padding: 0.5rem;
  min-width: 20vw;
  margin-left: 2rem;
  margin-right: 2rem;
}

.upgrade-menu {
  border: 2px solid rgb(222, 224, 57);

  z-index: 2;
  position: absolute;
  top: 20vh;
  /* min-width: 85vw; */
  min-height: 80vh;
  left: 0vw;
  right: 72vw;
  width: 25vw;
}
.hire-menu {
  border: 2px solid rgb(222, 224, 57);
  z-index: 2;
  position: absolute;
  top: 20vh;
  /* min-width: 85vw; */
  min-height: 80vh;
  left: 73.5vw;
  right: 0vw;
  width: 25vw;
}

.close-btn {
  z-index: 1;
  cursor: pointer;
  font-size: xx-large;
  font-weight: 900;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 21vw;
  top: 1vh;
  height: 3rem;
  width: 3rem;
  background: rgba(238, 255, 0, 0.596);
  border-radius: 100%;
  color: rgb(0, 0, 0);
}

.wrap {
  flex-wrap: wrap;
  flex-direction: column;
}
.btn-1 {
  min-width: 75%;
  min-height: 8vh;
}

@keyframes slideUpAnimation {
  0% {
    top: 100vh;
  }
  100% {
    top: 20vh;
  }
}
@keyframes slideDownAnimation {
  0% {
    top: 20vh;
  }
  100% {
    top: 100vh;
  }
}

.hammer {
  z-index: 2;
  position: absolute;
  width: 8rem;
  height: 8rem;
  top: 27%;
  left: 42%;
}
:hover.hammer {
  cursor: pointer;
  width: 9rem;
  height: 9rem;
}
@media only screen and (max-width: 800px) {
  .hire-menu {
    border: 2px solid rgb(222, 224, 57);
    z-index: 2;
    position: absolute;
    top: 20vh;
    /* min-width: 85vw; */
    min-height: 80vh;
    left: 2vw;
    right: 2vw;
    width: 93vw;
  }
  .upgrade-menu {
    border: 2px solid rgb(222, 224, 57);

    z-index: 2;
    position: absolute;
    top: 20vh;
    /* min-width: 85vw; */
    min-height: 80vh;
    left: 2vw;
    right: 2vw;
    width: 93vw;
  }
  .close-btn {
    z-index: 1;
    cursor: pointer;
    font-size: xx-large;
    font-weight: 900;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 70vw;
    top: 1vh;
    height: 3rem;
    width: 3rem;
    background: rgba(238, 255, 0, 0.596);
    border-radius: 100%;
    color: rgb(0, 0, 0);
  }
  .hidden {
    display: block;
  }
  .hammer {
    width: 5rem;
    height: 5rem;
    top: 33%;
    left: 29%;
  }
  :hover.hammer {
    cursor: pointer;
    width: 6rem;
    height: 6rem;
  }
}

.slideUpAnim {
  animation-name: slideUpAnimation;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
.slideDownAnim {
  animation-name: slideDownAnimation;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
